@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: Poppins;
    margin: 0;
}


.container {
    max-width: 1375px;
    margin: auto;

}

.header .container {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;

    position: relative;
}

.place {
    background-image: url(./img/mainback.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: -72px;
}

.place__text {
    position: absolute;
    top: 250px;

    max-width: 615px;
}

.place__text-mini {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.place__text-subtittle {
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;

    margin: 25px 0;
}

.place__text-tittle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

    margin-bottom: 45px;
}

.yellow {
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    color: #FFD723;
}

.ikons {
    background-color: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.1459);



    margin-left: 265px;
    margin-top: -120px;
    margin-bottom: 120px;
}

.ikons__logo .container {
    display: flex;
    justify-content: space-between;
    gap: 65px;

    padding: 85px 165px 65px 65px;
}

.what__block {
    display: flex;
    justify-content: space-between;
    gap: 160px;
}

.what__text {
    width: 475px;
}

.what__text-mini {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: #4D533CE5;
}

.what__text-subtittle {
    font-family: Poppins;
    font-weight: 700;
    font-size: 37px;
    color: #4D533C;

    margin: 30px 0 35px 0;
}

.what__text-tittle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #21384299;

    margin-bottom: 40px;
}

.project__text-gray {
    margin-top: 90px;
}

.gray {
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    color: #D4D6D4;
}


.what__window {
    width: 474px;
    box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.1459);

    padding: 244px 5px 60px 40px;
    margin-top: -250px;
}

.what__window-text {
    font-family: Poppins;
    font-style: italic;
    font-weight: 400;
    font-size: 26.6px;

    color: #4D533C;
    margin-bottom: 50px;
}

.what__window-pers {
    display: flex;
    gap: 30px;
    align-items: center;
}

.what__window-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.18);
}

.what__window-subtittle {
    font-family: Poppins;
    font-weight: 700;
    font-size: 22px;

    color: #4D533C;
}

.what__window-tittle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;

    color: #152934;
}

.what__window-desc {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.divider {
    height: 1px;
    background: #21384218;
    margin: 150px 165px;
}

.project__awesome {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 110px;
}

.project__subtittle {
    width: 50vh;

    font-family: Poppins;
    font-weight: 700;
    font-size: 37px;
    color: #4D533C;
}

.project__tittle {
    width: 50vh;

    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #21384299;
}

.project__wall-left {
    background-image: url(./img/card1.png);
    background-size: cover;
    background-position: center;

    width: 100vh;
    height: 70vh;

    position: relative;
}

.project__wall {
    display: flex;
    align-items: center;
    gap: 250px;

    margin-bottom: 165px;

}

.project__text {
    width: 410px;
}

.project__text-subtittle {
    font-family: Poppins;
    font-weight: 700;
    font-size: 37px;
    color: #4D533C;
}

.project__text-tittle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #21384299;

    margin: 25px 0 20px 0;
}

.projec__pers {
    max-width: 453px;
    max-height: 243px;
    border-radius: 8px;

    background-color: #FFFFFF;
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1459);


    position: relative;
    top: 490px;
    left: 525px;
}

.projec__pers-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.projec__pers-pers {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 0 0 30px 30px;
}

.projec__pers-desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.projec__pers-text {
    font-family: Poppins;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #4D533C;

    padding: 30px 30px 25px 30px;
}

.projec__pers-subtittle {
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    color: #4D533C;
}

.projec__pers-tittle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: #152934;
}

.project__wall.reverse {
    flex-direction: row-reverse;
}

.project__wall.reverse .projec__pers {
    left: auto;
    right: 30px;
}

.project__wall-left.card2 {
    background-image: url(./img/card2.png);
}

.project__wall-left.card3 {
    background-image: url(./img/card3.png);
}

.deation__text {
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
    color: #4D533C;

    margin-bottom: 60px;
}

.deation__nav {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.deation__nav-list {
    width: 255px;
    height: auto;

    display: flex;
    flex-direction: column;
}


.deation__nav-subtittle {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #4D533C;

    width: 183px;
}

.deation__nav-tittle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #21384299;

    width: 195px;

    margin: 30px 0 30px 0;
}

.deation__nav-list a {
    margin-top: auto;
}

.deation {
    margin-bottom: 150px;
}