@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: Poppins;
    margin: 0;
}


.container {
    max-width: 1111px;
    margin: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;

    position: relative;
}

.place {
    background-image: url(./img/mainback.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: -72px;
}

.place__text {
    position: absolute;
    top: 250px;

    max-width: 615px;
}

.place__text-mini {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.place__text-subtittle {
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;

    margin: 25px 0;
}

.place__text-tittle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

    margin-bottom: 45px;
}

.yellow {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #FFD723;
}